<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    <nav>
      <ul>
        <li>
          <p><a href="/">Home Page</a></p>
        </li>
        <li>
          <p><a href="/signup">Signup Page</a></p>
        </li>
        <li>
          <p><a href="/login">Login Page</a></p>
        </li>
        <li>
          <p><a href="/profile">Your Profile</a></p>
        </li>
        <li>
          <form action="/logout" method="POST">
            <a href="#"><button>Logout</button></a>
          </form>
        </li>
        <li>
          <p><a href="/main">Funny Cat Picture for You!</a></p>
        </li>
        <li>
          <p><a href="/private">Private for Users!</a></p>
        </li>
      </ul>
    </nav>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>